/*Global*/
:root{
    /*variables for background color*/
    --color_primary : #901C1C; 
    --color_secondary : #D3573C;
    --color_tertiary : #525252;
    --color_quaternary: #fafafa;
}

*,
*::before,
*::after {text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
* {
    font-family: "DM sans", sans-serif;
  }
 
a, ul > li ,select>option{
    text-decoration: none;
  }
  
ul {
    list-style-type: none;
  }

.sr_only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
}
.btn{
    width: fit-content;
    height: 80px;
    border-radius: 5px;
    background-color: var(--color_primary);
    color:var(--color_quaternary);
    font-size: 1.5em;
    border : solid var(--color_primary) 1px;
    padding: 0 0.5em;

  }


header{
    display : grid;
    grid-template-columns: 1fr 2fr 1fr;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.tag_container{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}
.logo{
    display: grid;
    grid-column: 1; 
    padding-left:0;
    margin: 1em 0 0 0;   
}
#nav_tag-main{
    display: flex;
    justify-content: center;
    border-radius : 5px;    
    background-color: var(--color_secondary);
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    position: fixed;
    top: -90px;
    transition: ease-in-out 0.8s;
}

#nav_tag-main.sticky{
    position: fixed;
    top : 0;
}
.tag_name {
    color:var(--color_primary);
    border : solid lightgray 0.5px;
    border-radius: 15px;
    width: fit-content;
    font-size: 75%;
    font-weight: bold;
    cursor: pointer;
    border : solid 1px lightgray;
    margin : 15px 2px;
    padding: 3px 5px;
}

 .tag_name::before{
    content: "#";
}

.tag_name:hover, .tag_name:focus{
    color: white;
    background: var(--color_primary     );
}

.head_photographes{
    display: grid;
    grid-column-start: 3/4;
    width: fit-content;
    position : absolute;
    top :30px ;
    right:1em;
    color: var(--color_primary);
    font-size: 2.3em;
}

section{
    margin: 1em 0;
    padding : 1em;
    display:grid;
}
#profile_container{
    grid-template-columns: repeat(3, 1fr);    
    column-gap: 1em;
    row-gap: 1em;
}
.photographer{
    justify-self: center;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:  0 1px 5px var(--color_tertiary);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure {
    display :flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

figcaption{
    font-size: 2em;
    color : var(--color_secondary);
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.location{
    font-size: 100%;
    color : var(--color_secondary);
}
.price, .slogan{
    color : lightgray;
    font-size: 70%;
    margin-top: 0.5em;
}
.slogan{
    color : black;
}

.hidden{
    background: red;
    border : solid green 3px;
}
