
main{
    margin :  0 1em 1em 1em;
}

/*photographer.html*/
#id_name{
    position: static;
    font-size: 3em;
    font-weight: 600;
    color:var(--color_secondary);
}

.id_header{
    background-color:#fafafa;
    display:grid;
    grid-template-columns: 40% 40% 20%;
    padding : 1em 3em;

}

.id_header-top{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    
}
.id_location{
    font-size: 2em;
    color: var(--color_primary);
    padding-bottom: 0.5em;
}
.id_slogan{
    font-size: 1.2em;
    color: var(--color_tertiary);
}
.id_tag-name{
    font-size: 1.2em;
}
.id_btn{
    display: flex;
}
.id_avatar{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.imgGallery{
    width: 200px;
    height: auto;
}

.media_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 2em;
    position: relative;
}

.media  img{
    width : 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;    
}
.media video{
        width : 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;    
}

.figcaption_media{
    border : solid green 1px;
    display: inline-flex;
    padding : 10px 0;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 500;
    width : 350px;
    position: relative;
    color : var(--color_primary);
}
.show{
    display: inline-flex;
    padding-left: 20px;
}
.show i{
    margin-left: 10px;
}

.figcaption_media p{
    color :block
}

.figcaption_media i{
    color : var(--color_primary)
}

.like_total{
    position: fixed;
    bottom: 0;
    right:0;
    background-color: var(--color_secondary);
    width : 300px;
    height: 70px;
    border-radius: 10px  10px 0 0;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}
.like{
    cursor: pointer;
}


.like_box_bottom{
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#total_like{
    margin-right: 20px;
}

/*-- LIGHTBOX MODAL--*/
.modal{
    display: none;
    background-color:white;
    position:fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100vh;
    padding: 2em;
    background-color:white;

}
#modal_content {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*-- the close button--*/

.close{
    background : url(../svg/close.svg)center center/ 20px 20px;
    background-repeat: no-repeat;
    position: fixed;
    width: 100px;
    height:50px;
    top:0;
    right : 0;
    z-index: 12;
    color:transparent;
    border: none;
}
/*-- the previous button :position to the left with svg as background--*/
.previous {
    background: url("../svg/previous.svg") center center/ 20px 28px no-repeat;
    left:0;
}
/*-- the next button--: position to the right with sgv as bakground--*/
.next{
    background : url("../svg/next.svg") center center / 20px 28px no-repeat;
    right:0;
}
.next, .previous{
    position: fixed;
    width: 100px;
    height: 100%;
    border: none;
    z-index: 11;
    margin-top : -40px;
    color: transparent;
}

figure.lightbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
}

.lightbox img{
    width: 700px;
    max-height: 700px;
    object-fit: cover;
}
.lightbox video{
    width : 700px;
    object-fit: cover;
}

.lightbox figcaption{
    font-size: 1.5em;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.curser{
    cursor: pointer;
}
/*--Modal background--*/

/*--Class list add to body for hidden the scrollbar when the modal is open*/
.no-scroll{
    overflow: hidden;
}

/**--CONTACT MODAL SECTION
*/
#form_modal{
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height:100vh;
    position: fixed;
    top:0;
    z-index: 30;
    display: flex;
    justify-content: center;
    
}
#form_container{
    margin-top: 30px;
    width: 500px;
    height:fit-content;
    background-color: var(--color_secondary);
    position: relative;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}


.close_form{
 position : absolute;
    top: 0;
    right:0;
    border: none;
    background-color: var(--color_secondary);
    width: 50px;
    height:50px;
}
.close_form i{
    padding-top: 1.2em;
    padding-right:1.5em;
    color: white;
    font-size: 2.5em;
}

#form_container header{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    padding-top: 0;
}
#form_container h1, h2{
    font-size: 3em;
    font-weight: 500;
}

#contact_modal_content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
}

#contact_modal_content label{
    font-size: 1.5em;
}

.input{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.input input, textarea{
    width: 100%;
    height: 40px;
    text-align: left;
    border-radius: 5px;
    border: none;
}

textarea{
    height : 100px;
}
#contact_modal_content .btn-submit{
    width: fit-content;
    padding:1em;
    margin-top: 1.5em;
    text-align: center;
    justify-self: center;
}

.btn-submit:focus , button:focus{
    border : white 5px solid;
}

*:focus{
    border : WHITE 5px solid
}

.dropdown_container{
    position: relative;

    height: auto;
    display: flex;
    align-items: center;
    margin : 1em 1em;
}

.dropdown_container label{
    font-size: 1.5em;
    margin-right: 1em;
    font-weight: 500;
}
.dropdown{
    width: 200px;
    height: 50px;
    font-size: 1.3em;
    font-weight: bold;
}

.dropdown_arrow{
    position :absolute;
    right:0;
    padding: 1em;
    pointer-events: none;
    background-color: sandybrown;
}
.dropdown_arrow:hover{
    transform : rotate(180deg)
}
.tag_container{
    padding-top: 1em;;
}